@using Microsoft.AspNetCore.Identity

@inject             SignInManager<Microsoft.AspNetCore.Identity.IdentityUser> SignInManager
@inject             UserManager<Microsoft.AspNetCore.Identity.IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">
                    Здравствуйте, @currentUser?.UserName!
                </a>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
                    <button type="submit" class="nav-link btn btn-link text-dark border-0">Выйти</button>
                </form>
            </li>
    }
    else
    {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Войти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Зарегистрироваться</a>
            </li>
    }
</ul>