@page
@model ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h1>Подтверждение сброса пароля</h1>
<p>Если указанный адрес электронной почты связан с аккаунтом, ссылка для сброса пароля будет отправлена.</p>
