@using Microsoft.AspNet.Identity
@model Virtual_Art_Gallery.Models.ExhibitionModel

@{
    ViewData["Title"] = "Создание выставки";
}

<h1>Создать</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" asp-for="CreatorId" value="@User.Identity.GetUserId()" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Название выставки</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание выставки</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsClosed" /> Разрешить другим пользователям добавлять работы в эту выставку
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать выставку" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к выставкам</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
