@using Microsoft.AspNet.Identity
@model Virtual_Art_Gallery.Models.ArtworkModel

@{
    ViewData["Title"] = "Создать новую публикацию";
    var exhibitionId = ViewData["ExhibitionId"] as int?;
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    @* Скрытое поле для передачи ExhibitionId *@
    @if (exhibitionId.HasValue)
    {
        <input type="hidden" name="exhibitionId" value="@exhibitionId" />
    }

    <input type="hidden" asp-for="CreatorId" value="@User.Identity.GetUserId()" />

    <div class="form-group">
        <label asp-for="Title">Название</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Описание</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId">Категория</label>
        <select asp-for="CategoryId" class="form-control" asp-items="@(ViewData["CategoryList"] as IEnumerable<SelectListItem>)"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="imageFile">Изображение</label>
        <input type="file" name="imageFile" class="form-control" />
        <span asp-validation-for="ImagePath" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Создать</button>
</form>